body {
    width: 400px;
}

html {
    overflow: scroll;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
    /* make scrollbar transparent */
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.search {
    width: 100%;
    font-size: 15px;
    padding: 5px;
    margin-bottom: 5px;
}

.options {
    display: flex;
    width: 100%;
}

#top {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    background-color: white;
    padding: 5px;
    margin: 0 0 10px 0;

    /* height: 50px; */
}

.site-item {

    display: flex;
    justify-content: center;
    padding: 0 5px;
    margin-bottom: 5px;
    cursor: pointer;
}

.site-icon {
    width: 20px;
    height: 20px;
    padding: 3px;
    border: 1px solid gray;
    border-radius: 5px;
}

.info-text {
    display: flex;
    overflow: hidden;
    align-items: center;
}

.tab-text {
    padding: 0 20px;
    font-size: 13px;
}

.close-btn {
    align-self: center;
    width: 25px;
    height: 25px;
    background-color: rgb(241, 112, 112);
    border-radius: 5px;
    border: none;
    font-weight: bold;
}



/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}